@import 'bourbon/bourbon';
@import 'neat/neat';

body {
  @include outer-container;
  text-align: center;
  color: #333;
  ul#frameworks {
    overflow: auto;
    padding-left: 0px;
    li {
      @include span-columns(6);
      @include nth-omega(2n);
      &:first-child {
        border-right: 1px solid #333;
      }

    }
  }
}